<nav class="main-navbar">
  <div class="nav-logo" (click)="navigateTo('home')">
    <span class="logo-icon">⚔️</span> MH <span class="text-gold">Wilds</span> Forge
  </div>

  <ul class="nav-links">
    <li>
      <button
        [class.active]="currentScreen() === 'home'"
        (click)="navigateTo('home')">
        {{ "nav.home" | translate }}
      </button>
    </li>
    <li>
      <button
        [class.active]="currentScreen() === 'builder'"
        (click)="navigateTo('builder')">
        {{ "nav.constructor" | translate }}
      </button>
    </li>
    <li>
      <button
        [class.active]="currentScreen() === 'skill-forge'"
        (click)="navigateTo('skill-forge')">
        {{ "nav.skills-forge" | translate }}
      </button>
    </li>

    <li>
      <button
        (click)="useLanguage('en')">
        EN
      </button>
    </li>

    <li>
      <button
        (click)="useLanguage('es')">
        ES
      </button>
    </li>

    <li>
      <button
        (click)="useLanguage('jp')">
        JP
      </button>
    </li>
  </ul>
</nav>

<main class="main-content">
  @switch (currentScreen()) {

    @case ('home') {
      <div class="home-container animate-fade-in">
        <header class="hero-section">
<!--          <h1>Forja tu Destino en </h1>-->
          <h1>{{ 'home.header.title' | translate}} <br><span class="text-gold font-wilds">Monster Hunter Wilds</span> </h1>
          <p class="hero-subtitle">
            {{ 'home.header.sub-title' | translate }}
          </p>
          <button class="btn-cta" (click)="navigateTo('builder')">
            {{ 'buttons.open-forge' | translate }} ⚔️
          </button>
        </header>

        <section class="features-grid">
          <div class="feature-card">
            <div class="feature-icon">🛡️</div>
            <h3>{{ 'home.features.defense.title' | translate }}</h3>
            <p>{{ 'home.features.defense.lbl' | translate }}</p>
          </div>
          <div class="feature-card">
            <div class="feature-icon">⚔️</div>
            <h3>{{ 'home.features.arsenal.title' | translate }}</h3>
            <p>{{ 'home.features.arsenal.lbl' | translate }}</p>
          </div>
          <div class="feature-card">
            <div class="feature-icon">🔍</div>
            <h3>{{ 'home.features.search.title' | translate }}</h3>
            <p>{{ 'home.features.search.lbl' | translate }}</p>
          </div>
          <div class="feature-card">
            <div class="feature-icon">📜</div>
            <h3>{{ 'home.features.skill-forge.title' | translate }}</h3>
            <p>{{ 'home.features.skill-forge.lbl' | translate }}</p>
          </div>
        </section>
      </div>
    }

    @case ('builder') {
      <app-builder class="animate-fade-in"></app-builder>
    }

    @case ('skill-forge') {
      <app-skill-forge class="animate-fade-in"/>
    }
  }
</main>
