<div class="home-container animate-fade-in">
  <header class="hero-section">
    <h1>{{ 'home.header.title' | translate}} <br><span class="text-gold font-wilds">Monster Hunter Wilds</span> </h1>
    <p class="hero-subtitle">
      {{ 'home.header.sub-title' | translate }}
    </p>
    <a class="btn-cta" routerLink="/skill-forge">
      {{ 'buttons.open-forge' | translate }} ⚔️
    </a>
  </header>

  <section class="features-grid">
    <div class="feature-card">
      <div class="feature-icon">🛡️</div>
      <h3>{{ 'home.features.defense.title' | translate }}</h3>
      <p>{{ 'home.features.defense.lbl' | translate }}</p>
    </div>
    <div class="feature-card">
      <div class="feature-icon">⚔️</div>
      <h3>{{ 'home.features.arsenal.title' | translate }}</h3>
      <p>{{ 'home.features.arsenal.lbl' | translate }}</p>
    </div>
    <div class="feature-card">
      <div class="feature-icon">🔍</div>
      <h3>{{ 'home.features.search.title' | translate }}</h3>
      <p>{{ 'home.features.search.lbl' | translate }}</p>
    </div>
    <div class="feature-card">
      <div class="feature-icon">📜</div>
      <h3>{{ 'home.features.skill-forge.title' | translate }}</h3>
      <p>{{ 'home.features.skill-forge.lbl' | translate }}</p>
    </div>
  </section>
</div>
